body {

    background: #A5EB6C;
}

.titulo {
    position: relative;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}

h1 {
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 0 30px #FF0000;
}

.titulo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
}

.faixa-frutas {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    opacity: 0.3;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.faixa-frutas:hover {
    opacity: 1;
}


P {
    text-align: left;
    font-size: 20px;
}

i {
    color: red;
}

i u {
    color: blue;
}

#frutas2 {
    width: 100%;

}

.princiapal {
    pedding: 20px;
    border: 30px;
    margin: 50px;
    background: #ffd966;
    border-radius: 8px;
    border: 2px solid #c19a00;
}

.mapa {
    position: center;
    margin-left: 500px;
}

.titulo-mapa {
    text-align: center;
}

.Sanitizacaodasfrutaslegumeseverduras {
    background: #F2CECE;
    position: absolute;
    margin-right: 500px;
    border: 2px;
    border-color: #000000;
    font-size: 19px;
    display: inline-block;
    width: 300px;
    height: 600px;
    padding: 20px;
    background: #ffd966;
    border: 2px solid #c19a00;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: inset 0 0 30px #FF0000;
}

header a {
    display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
}

.conteudo {
    pedding: 20px;
    border: 30px;
    margin: 50px;
    background: #ffd966;
    border-radius: 8px;
    border: 2px solid #c19a00;

}

.logo {
    max-width: 100px;

}

header {
    background: #ffffff;
    border-radius: 8px;

}

section {
    background: #fff6c7;
    padding: 20px;
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid #c19a00;
}

.introducao {
    background: #ffe9a8;
}

.fruta {
    background: #fffad1;
}

.Contapragente {
    display: flex;
    justify-content: center;
    padding: 20px;
}

form {
    max-width: 700px;
    width: 100%;

}

.input-padrao {
    width: 100%;
    max-width: 400px;
    padding: 8px 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.Buttonfinal {
    width: 40%;
    padding: 15px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.Buttonfinal:hover {
    background: darkorange;
    transform: scale(1.2);
    transform: rotate(70deg);

}